* html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
figure,
figcaption,
blockquote {
    margin: 0;
}

img {
    display: block;
    margin: 0;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul,
li {
    list-style: none;
    padding: 0;
}

a,
button {
    cursor: pointer;
}

button {
    background: transparent;
    border: none;
    padding: 0;
}

html,
body {
    height: 100%;
}